@import "tailwindcss";

@theme {
  --color-primary-50: #f0f7ff;
  --color-primary-100: #e0efff;
  --color-primary-200: #badcff;
  --color-primary-300: #7ebcff;
  --color-primary-400: #3b97ff;
  --color-primary-500: #0974f1;
  --color-primary-600: #0056c6;
  --color-primary-700: #00429c;
  --color-primary-800: #003173;
  --color-primary-900: #002252;
  --color-primary-950: #001333;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

